.livePrices__cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 0 -20px;
}

.livePrices__card {
    margin: 20px;
    flex: 1 1 auto;
}

.livePrices__select {
    width: 110px;
}

.livePrices__selectLabel {
    font-size: 14px;
    padding: 0 0 5px 1px;
}
