.priceCard {
    margin: 0 auto;
    padding: 0 20px 7px 20px;
    border-radius: 6px;
    min-width: 250px;
    max-width: 350px;
    font-size: 1.3rem;
    font-weight: 200;
}

.priceCard__symbol {
    font-size: 50%;
}

.priceCard--BTC {
    background: linear-gradient(53deg, #F76E64, #F7931A);
    background: url(../../images/logos/BTC.svg) no-repeat 120% -50%/45%, linear-gradient(53deg, #F76E64, #F7931A);
}

.priceCard--ETH {
    background: linear-gradient(53deg, #EA3E74, #565B77);
    background: url(../../images/logos/ETH.svg) no-repeat 110% -110%/35%, linear-gradient(53deg, #EA3E74, #565B77);
}
