.priceCardDatum {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 0 4px 0;
    overflow: hidden;
    position: relative;
    margin: 18px 0;
}

.priceCardDatum__label {
    font-size: 1.6rem;
    font-weight: 300;
    float: left;
    vertical-align: bottom;
    position: absolute;
    bottom: 5px;
}

.priceCardDatum__value {
    font-size: 2.4rem;
    font-weight: 300;
    float: right;
}