.button {
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 6px;
    padding: 10px 24px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    border: 1px solid #fff;
    outline: none;
    text-decoration: none;
    transition: border 0.2s ease, transform 0.05s ease;
    transform: translate(0px, 0px);
    user-select: none;
    cursor: pointer;
}

.button:hover {
    border: 1px solid #e36a62;
}

.button:active {
    transform: translate(2px, 2px);
}

.button--loading {

}

.button--error {

}

.button--primary {
    background-color: white;
    color: #e36a62;
}

.button--secondary {
    background-color: #F76E64;
    background-image: linear-gradient(231deg, #E93876, #F76E64);
    color: #fff;
}

.button--small {
    padding: 0 12px;
    font-size: 14px;
}