.heroHeader {
    background-image: linear-gradient(231deg, #E93876, #F76E64);
    min-height: 408px;
    position: relative;
    padding: 70px 0 0 0;
    overflow: hidden;
}

.heroHeader__logo {
    width: 10%;
    min-width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.heroHeader__text {
    max-width: 1200px;
    margin: 60px auto 38px;
    padding: 0px 14px;
    font-weight: 800;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 32px;
}

.heroHeader__cta {
    text-align: center;
}

.heroHeader__curves {
    width: 100%;
    min-width: 1920px;
    overflow: hidden;
    bottom: 0;
    position: absolute;
    pointer-events: none;
}